.grid-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 960px;
    height: 960px;
}

.grid-square.hovered {
    display: grid;
    border: solid 1px #ccc;
    background-color: red; /* Change the color when hovered */
}