.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: beige 2px solid;
}

.grid-square {
    height: 6.25%;
    width: 6.25%;
}

.grid-square.hovered {
    display: grid;
    background-color: red; /* Change the color when hovered */
}